.credentialsPage {
    width: 30%;
    margin: auto;

    button {
        width: 100%;
    }

    .credentialsSwitchAction {
        float: right;
        padding-top: 1.2em;
    }

    .caption {
        padding-bottom: 3em;
    }
}