.credentialsPage {
    width: 30%;
    margin: auto;

    button {
        width: 100%;
    }

    .credentialsSwitchAction {
        float: right;
        padding-top: 0.7em;
    }

    .caption {
		margin-bottom: inherit;
    }
	
	min-width: 40vw;
	margin-top: 13vh;
}