.authorProfile {
    display: flex;
    word-break: break-all;

    & > *:first-child {
        margin: auto;
    }

    .details {
        width: 80vw;
        display: flex;

        .header {
            display: flex;

            .name {
                text-align: center;
            }

            .email {
                margin-left: auto;
            }
        }

        .thumbnail:nth-child(1) {
            width: 45vw;
            height: 100%;

            .caption {
                display: flex;
                flex-direction: column;

                .footer {
                    margin-top: auto;
                }
            }
        }

        .thumbnail:nth-child(2) {
            width: 30vw;
            margin-left: 3em;
            height: 100%;

            .repos {
                max-height: 35vh;
                overflow-y: auto;
            }
        }
    }
}

.formNamesRow {
    display: flex;

    & > div:first-child {
        margin-right: 3em;
    }
}

.friendSummary {
    margin-top: 1em;
    display: flex;
    width: 20em;

    h5 {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }
}

.posts-background {
	background-color: $background;
}