.profileHeader {
    display: flex;
    word-break: break-all;

    & > *:first-child {
        margin: auto;
    }

    .details {
        width: 75vw;

        .name {
            text-align: center;
        }
    }

    .detailsFooter {
        margin-top: 1em;
    }
}

.formNamesRow {
    display: flex;

    & > div:first-child {
        margin-right: 3em;
    }
}

.friendSummary {
    margin-top: 1em;
    display: flex;
    width: 20em;

    h5 {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }
}