.friendRequest {
    display: flex;
    margin-bottom: 0.5em;

    .name {
        word-break: break-all;
        margin-top: auto;
        margin-bottom: auto;
    }

    .buttons {
        margin-left: auto;

       button:first-of-type {
            margin-right: 1em;
        }
    }
}

#notifications-popover {
    max-width: unset;
    min-width: 30vw;
    width: auto;
    font-family: $font;

    .popover-title {
        font-size: 13pt;
    }

    .popover-content {
        max-height: 60vh;
        overflow-y: auto;
    }
}