@import "variables.scss";
@import "header.scss";
@import "friendRequest.scss";
@import "login.scss";
@import "profile.scss";
@import "post.scss";
@import "postFeed.scss";
@import "home.scss";
@import "discover.scss";
@import "createPost";
@import "postView.scss";

.coreSpinner {
    font-size: 24pt;
}

.core-app-body {
    margin-left: 2em;
    margin-right: 2em;
}

body {
    background-color: $background;
    height: 100vh;
    font-family: $font;
}

.tab-pane {
    margin-top: 1em;
}

.error-text {
	color: red;
}

.center-loader > .coreSpinner {
	position: absolute;
	top: 50%;
	left: 50%;
}
