.thumbnail {
    .caption {
        padding: 10px 20px;
        .post-header {
            display: flex;
            justify-content: space-between;
            .post-time {
                align-self: center;
                margin-top: 10px;
            }
            button {
                margin: 5px;
            }
        }

        .post-body {
            .post-image {
                max-width: 100%; 
                margin-bottom: 10px;
            }

            .post-text {
                font-size: 16px;
            }
        }

        .post-footer {
            display: flex;
            justify-content: flex-start;
            a {
                margin: 0 0 0 5px;
            }
        }
    }
}
