.postView {
    max-width: 70em;
    margin: 0 auto;
}

.comment-type-buttons-row {
    max-width: 20em;
    float: left;
    margin-bottom: 1em;
}

.submit-button-comment {
    float: right;
}

.comment-author {
    float: right;
    margin-bottom: 1em
}

.comment-type-buttons-row {
    display: flex;

    .radio ~ .radio {
        margin-top: auto;
        margin-left: 1em;
    }
}

.comment-thumbnail {
    height: 13.5em;
}

.comments-wrapper {
	overflow-y: auto;
	height: 300px;
}