.thumbnail {
    .caption {
		margin-left: 0.7em;
        .post-header {
            display: flex;
			justify-content: space-between;
			.github-title {
				display: flex;
				i {
					font-size: 40px;
					padding-top: 11px;
					padding-right: 10px;
				}
			}
            .post-time {
                align-self: center;
                margin-top: 10px;
            }
            button {
                margin: 5px;
            }
        }

        .post-body {
            .post-image {
                max-width: 100%; 
                margin-bottom: 10px;
            }

            .post-text {
                font-size: 16px;
            }
        }

		.categories-wrapper {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 5px;
			
			.tag-icon {
				margin-right: 0.5em;
				padding-top: 3px;
			}
			
			.category-badge {
				margin-right: 0.5em;
				background-color: $primary;
			}
		}

		.empty-title {
			font-style: italic;
		}
		
		.deleting-message {
			margin-left: 1em;
		}

		.bottom-row {
			display: flex;

			.comment-icon {
				margin-right: 0.7em;
				padding-top: 3px;
			}
			
			.visibility-details {
				margin-left: auto;
				.visibility-text {
					margin-left: 0.3em;
				}	
			}
		}
    }
}