.postView {
    max-width: 70em;
    margin: 0 auto;
}

.comments-content-type {
    max-width: 10em;
    float: left;
    margin-bottom: 1em;
}

.submit-button-comment {
    float: right;
}

.comment-author {
    float: right;
    margin-bottom: 1em
}

.comment-hr {
    border-color: black;
}
