@import "variables.scss";

.post-feed {
    border-radius: 5px;
	height: 90vh;
    max-width: 45em;
    padding: 0 15px;
	overflow: auto;
	
	& > .coreSpinner:nth-child(1) {
		position: absolute;
		left: 50%;
		top: 50%;
	}

	.thumbnail + .coreSpinner {
		margin-left: 50%;
	}

	.thumbnail {
		border-radius: 10px;
	}

	.posts-not-found {
		text-align: center;
		margin: 0;
	}
}

@media (min-width: 950px) {
	.post-feed {
		margin: 0px auto;
	}
}

.filter-posts-wrapper {
    float: right;
}
