// Use this file to keep track of variables and colors we are using
// makes it easier to change things later
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

$very-light-grey: #F4F4F4;
$primary: #337ab7;
$background: #f2f3f5;