// Use this file to keep track of variables and colors we are using
// makes it easier to change things later
/* Credit to Google Fonts at https://fonts.google.com/specimen/Montserrat (Open Font License) for this font */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$very-light-grey: #F4F4F4;
$primary: #337ab7;
$background: #f2f3f5;
$font: 'Montserrat', sans-serif;